* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-variation-settings: "wdth" 100;
    font-size: 26px;
}

.container * {
    width: 100vw;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

header, footer, main > * {
    padding: 20px;
    margin-bottom: 7px;
}

.container > header {
    height: 20svh;
    background-color: #3C507C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > header > a {
    text-align: center;
    width: fit-content;
}

.container > main > section {
    height: 40svh;
    background-color: #EED46B;
}

.container > main > nav {
    height: 10svh;
    background-color: #75C795;
}

.container > main > aside {
    height: 10svh;
    background-color: #CE486F;
}

.container > footer {
    height: 20svh;
    background-color: #3C507A;
}


/* On screens that are 600px or more */
@media only screen and (min-width: 600px)  {
    .container > main {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
    }
    .container > main > section {
        order: 2;
        height: 60svh;
    }
    .container > main > nav {
        order: 1;
        height: 60svh;
    }
    .container > main > aside {
        order: 3;
        height: 60svh;
    }
}